table {
			margin: auto;
			font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
			font-size: 12px;
		}

		h1 {
			margin: 25px auto 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 17px;
		}

		table td {
			transition: all .5s;
		}
		.table-wrapper {
			overflow: auto;
		}
		.main-wrapper {
			padding: 20px;
		}
		.main-wrapper a:hover {
			border-bottom: 1px dashed #CCCCCC;
		}
		
		/* Table */
		.demo-table {
			border-collapse: collapse;
			font-size: 14px;
			min-width: 537px;
		}

		.demo-table th, 
		.demo-table td {
			border: 1px solid #e1edff;
			padding: 7px 17px;
		}
		.demo-table caption {
			margin: 7px;
		}

		/* Table Header */
		.demo-table thead th {
			background-color: #508abb;
			color: #FFFFFF;
			border-color: #6ea1cc !important;
			text-transform: uppercase;
		}

		/* Table Body */
		.demo-table tbody td {
			color: #353535;
		}
		.demo-table tbody td:first-child,
		.demo-table tbody td:nth-child(4),
		.demo-table tbody td:last-child {
			text-align: right;
		}
		
		.demo-table tbody td:empty {
			background-color: #ffcccc !important;
			border-color: #ffcccc !important;
		}

		.demo-table tbody tr:nth-child(odd) td {
			background-color: #f4fbff;
		}
		.demo-table tbody tr:hover td {
			background-color: #ffffa2;
			border-color: #ffff0f;
		}

		/* Table Footer */
		.demo-table tfoot th {
			background-color: #e5f5ff;
			text-align: right;
		}
		.demo-table tfoot th:first-child {
			text-align: left;
		}
		.demo-table tbody td:empty
		{
			background-color: #ffcccc;
		}
		
		/* Table 2 */
		.demo-table2 {
			border-collapse: collapse;
			font-size: 14px;
			min-width: 536px;
		}

		.demo-table2 th, 
		.demo-table2 td {
			padding: 7px 17px;
		}
		.demo-table2 caption {
			margin: 7px;
		}

		.demo-table2 thead th:last-child,
		.demo-table2 tfoot th:last-child,
		.demo-table2 tbody td:last-child {
			border: 0;
		}

		/* Table Header */
		.demo-table2 thead th {
			border-right: 1px solid #c7ecc7;
			text-transform: uppercase;
		}

		/* Table Body */
		.demo-table2 tbody td {
			color: #353535;
			border-right: 1px solid #c7ecc7;
		}
		.demo-table2 tbody tr:nth-child(odd) td {
			background-color: #f4fff7;
		}
		.demo-table2 tbody tr:nth-child(even) td {
			background-color: #dbffe5;
		}
		.demo-table2 tbody td:nth-child(4),
		.demo-table2 tbody td:first-child,
		.demo-table2 tbody td:last-child {
			text-align: right;
		}
		.demo-table2 tbody tr:hover td {
			background-color: #ffffa2;
			border-color: #ffff0f;
		}

		/* Table Footer */
		.demo-table2 tfoot th {
			border-right: 1px solid #c7ecc7;
			text-align: right;
		}